@media only screen and (max-width:1400px) and (min-width:200px){
    .gallery img{
        width:100%;
        height:500px;

    }
}
    
.navbar{
    width:100%;
    margin-bottom: 0px;
    margin-top:0px;
    background-color:rgb(62, 59, 100);
    display: inline-flexbox;

}

.navbar-brand{

    text-align: left;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    margin-bottom: 5px;

}

.nav-item{
    
    color:whitesmoke;
    font-size: 20px;
    text-align: right;
    margin-bottom: 5px;
    font-family:Arial, Helvetica, sans-serif;
}

.row{
    margin:20px;

}
/* for single-house component only */
.card{
    margin-top: 20px;
    border-style: groove;
    border-width: 2px;
    border-color: #ffffcc;
}

.card:hover{

    box-shadow: 0 4px 8px 0  #ffffcc, 0 6px 20px 0  #ffffcc;
    
}


.btn{

    background-color: #ffffcc;
    border-style: groove;
    border-width: 2px;
    border-color:  #ffffcc;
    display: inline-flexbox;
    font-size:18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.card:hover{

    box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
    transform: scale(1.02);

} 


.btn:hover{

    box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
    transform: scale(1.02);

}


/* for arrows  */
.arrow{

    font-size:15px;

}

/* for top most arrow */
.arr{

    font-size: 15px;
}

p{
    
    font-size:20px;
    display: inline-flexbox;

}
